<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>
<body>
  <div class="container">
      <div class="header">
          <h1><span class="l">L</span>OGIN</h1>
      </div>
      <form th:action="@{/login}" method="post">
          <label>Username</label>
          <input type="text" class="inp" name="username" required>
          <label>Password</label>
          <input type="password" class="inp" name="password" required>
          <button type="submit">Enter</button>
      </form>
      <div class="signup">
          <b>Don't have account?</b>
          <a href="#">Sign up</a>
      </div>
  </div>
</body>
</html>